parameters:
	ignoreErrors:
		-
			message: '#^Anonymous function should return Illuminate\\Support\\Collection.+but returns Illuminate\\Support\\Collection.+\.$#'
			identifier: return.type
			count: 2
			path: app/Http/Controllers/API/PermisoController.php

		-
			message: '#^Trait App\\Traits\\EncryptsAttributes is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/EncryptsAttributes.php

		-
			message: '#^Trait App\\Traits\\HasAuditableEvents is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasAuditableEvents.php

		-
			message: '#^Trait App\\Traits\\HasEncryptedAttributes is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasEncryptedAttributes.php

		-
			message: '#^Trait App\\Traits\\HasSafeErrorHandling is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasSafeErrorHandling.php
