parameters:
	ignoreErrors:
		-
			message: '#^Relation ''movimientos'' is not found in App\\Models\\Caja model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/API/CajaController.php

		-
			message: '#^Relation ''usuario'' is not found in App\\Models\\Caja model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Http/Controllers/API/CajaController.php

		-
			message: '#^Relation ''departamento'' is not found in App\\Models\\Empleado model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Http/Controllers/API/EmpleadoController.php

		-
			message: '#^Relation ''usuario'' is not found in App\\Models\\Empleado model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Http/Controllers/API/EmpleadoController.php

		-
			message: '#^Relation ''detalles'' is not found in App\\Models\\OrdenCompra model\.$#'
			identifier: larastan.relationExistence
			count: 3
			path: app/Http/Controllers/API/OrdenCompraController.php

		-
			message: '#^Relation ''metodoPago'' is not found in App\\Models\\PagoNomina model\.$#'
			identifier: larastan.relationExistence
			count: 3
			path: app/Http/Controllers/API/PagoNominaController.php

		-
			message: '#^Relation ''detalles'' is not found in App\\Models\\Presupuesto model\.$#'
			identifier: larastan.relationExistence
			count: 4
			path: app/Http/Controllers/API/PresupuestoController.php

		-
			message: '#^Relation ''cuentasContables'' is not found in App\\Models\\TipoCuenta model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Http/Controllers/API/TipoCuentaController.php

		-
			message: '#^Class App\\Http\\Requests\\StoreConsecutivoFERequest referenced with incorrect case\: App\\Http\\Requests\\StoreConsecutivoFeRequest\.$#'
			identifier: class.nameCase
			count: 2
			path: app/Http/Controllers/ConsecutivoFEController.php

		-
			message: '#^Class App\\Http\\Requests\\UpdateConsecutivoFERequest referenced with incorrect case\: App\\Http\\Requests\\UpdateConsecutivoFeRequest\.$#'
			identifier: class.nameCase
			count: 2
			path: app/Http/Controllers/ConsecutivoFEController.php

		-
			message: '#^Class App\\Http\\Resources\\ConsecutivoFEResource referenced with incorrect case\: App\\Http\\Resources\\ConsecutivoFeResource\.$#'
			identifier: class.nameCase
			count: 9
			path: app/Http/Controllers/ConsecutivoFEController.php

		-
			message: '#^Call to method getOrRegisterCounter\(\) on an unknown class Prometheus\\CollectorRegistry\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/MetricsController.php

		-
			message: '#^Call to method getOrRegisterGauge\(\) on an unknown class Prometheus\\CollectorRegistry\.$#'
			identifier: class.notFound
			count: 5
			path: app/Http/Controllers/MetricsController.php

		-
			message: '#^Instantiated class Prometheus\\CollectorRegistry not found\.$#'
			identifier: class.notFound
			count: 2
			path: app/Http/Controllers/MetricsController.php

		-
			message: '#^Instantiated class Prometheus\\Storage\\InMemory not found\.$#'
			identifier: class.notFound
			count: 2
			path: app/Http/Controllers/MetricsController.php

		-
			message: '#^Method App\\Http\\Controllers\\MetricsController\:\:getRegistry\(\) has invalid return type Prometheus\\CollectorRegistry\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/MetricsController.php

		-
			message: '#^Parameter \$registry of method App\\Http\\Controllers\\MetricsController\:\:formatPrometheus\(\) has invalid type Prometheus\\CollectorRegistry\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/MetricsController.php

		-
			message: '#^Call to method del\(\) on an unknown class Predis\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: app/Jobs/CleanCacheJob.php

		-
			message: '#^Call to method ttl\(\) on an unknown class Predis\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: app/Jobs/CleanCacheJob.php

		-
			message: '#^PHPDoc tag @var for variable \$redis contains unknown class Predis\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: app/Jobs/CleanCacheJob.php

		-
			message: '#^Relation ''pagos'' is not found in App\\Models\\PeriodoNomina model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Jobs/GeneratePdfReportJob.php

		-
			message: '#^Trait App\\Traits\\EncryptsAttributes is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/EncryptsAttributes.php

		-
			message: '#^Trait App\\Traits\\HasAuditableEvents is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasAuditableEvents.php

		-
			message: '#^Trait App\\Traits\\HasEncryptedAttributes is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasEncryptedAttributes.php

		-
			message: '#^Trait App\\Traits\\HasSafeErrorHandling is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasSafeErrorHandling.php
