parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Http\\Controllers\\API\\OrdenCompraController\:\:\$cacheTags type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/API/OrdenCompraController.php

		-
			message: '#^Property App\\Http\\Controllers\\API\\VentaController\:\:\$cacheTags type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/API/VentaController.php

		-
			message: '#^Call to method output\(\) on an unknown class Barryvdh\\DomPDF\\PDF\.$#'
			identifier: class.notFound
			count: 1
			path: app/Jobs/GeneratePdfReportJob.php

		-
			message: '#^Method App\\Jobs\\GeneratePdfReportJob\:\:generateCuentasCobrarReport\(\) has invalid return type Barryvdh\\DomPDF\\PDF\.$#'
			identifier: class.notFound
			count: 1
			path: app/Jobs/GeneratePdfReportJob.php

		-
			message: '#^Method App\\Jobs\\GeneratePdfReportJob\:\:generateInventarioReport\(\) has invalid return type Barryvdh\\DomPDF\\PDF\.$#'
			identifier: class.notFound
			count: 1
			path: app/Jobs/GeneratePdfReportJob.php

		-
			message: '#^Method App\\Jobs\\GeneratePdfReportJob\:\:generateNominaReport\(\) has invalid return type Barryvdh\\DomPDF\\PDF\.$#'
			identifier: class.notFound
			count: 1
			path: app/Jobs/GeneratePdfReportJob.php

		-
			message: '#^Method App\\Jobs\\GeneratePdfReportJob\:\:generateVentasReport\(\) has invalid return type Barryvdh\\DomPDF\\PDF\.$#'
			identifier: class.notFound
			count: 1
			path: app/Jobs/GeneratePdfReportJob.php
